# Logs
logs
*.log
npm-debug.log*
coverage/

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
build/
codegen/
.cache-loader/

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# VS Code files
.vscode/

# Packaging
dist/

# environment variables for the local development machine
DONOTCHECKIN.env