.foldout-profile {
  background: var(--dark-page-background-neutral-40);
  background-image: var(--vertical-overview-texture);
  background-position: left top;
  background-size: 348px 200px;
  background-repeat: no-repeat;
  width: 348px;
  height: 100%;
}
