Hi {{patient.name}},
<br><br> Doctor : {{provider.firstName}} {{provider.lastName}} has requested you to schedule a followup appointment.
<br><br> Thanks,<br> UHO.
<br><br><br><br>
<br><br>Note: This is a system generated Email. Please do not reply to this Email.<br><br>