.search-chip {
  border-radius: 6px;
  padding: 0 4px 0 8px;
  height: 2rem;
  cursor: pointer;
  background-color: rgba(34, 126, 158, 0.08);
  .label {
    color: #161513;
  }
  .value {
    color: var(--text-icon-info);
  }

  &:hover {
    background-color: rgba(34, 126, 158, 0.16);
  }

  .chip-close {
    text-decoration: none;
    border-radius: 4px;
    padding: 2px;
    &:hover {
      background-color: rgba(34, 126, 158, 0.15);
      color: var(--button-borderless-contrast);
    }

    .search-chip-icon {
      color: var(--oj-core-text-color-secondary);

      &:hover {
        color: var(--oj-core-text-color-primary);
      }
    }
  }

  .filter-divider {
    border-left: 1px solid rgba(var(--oj-palette-neutral-rgb-0), 0.1);
    height: 1rem;
  }
}
